@import './func/reset';
@import './func/mixin';
@import './func/font';
@import './component/header';
@import './component/visual';
@import './component/contents';
@import './component/footer';

.wrap{width: 100%; overflow: hidden; font-style: 'arial';} 

/*mobile*/
@include rwd(740px){ 
  .wrap{width: 100%; overflow: hidden;} 
  
}/*rwd*/

