

.contents {
    position: relative; width:100%;  background:#fff;     
    /*border-bottom: 1px solid #e0e0e0;*/
    
    &::after {content:''; display:block; clear:both;}
    .con1Wrap{
      width:100%; border-bottom: 1px solid #e0e0e0; background: #fff; position: relative;
        
      #con1 {
          width:940px; margin: 0 auto;  position: relative; z-index: 6;
          &::after {content:''; display:block; clear:both;}
        h2{
          background:url(../img/title-notice.png)no-repeat 30% 50%;
          height:56px; width:88px; float:left; text-indent: -9999em; overflow: hidden; margin-left:-7px;
        }
        .noticeBox{
          position: relative; float: left; overflow: hidden;
          ul.notice_list{
            overflow: hidden; position: relative; width:500px; height: 56px; margin-left:60px;
            li{
              line-height: 56px; height: 56px;
              position: absolute; top: 0px; left: 0px;
              opacity: 0;
              a{
                color: #333; font-size: 14px;
                font-family: 'arial','Nanum Gothic','dotum','AppleSDGothic', 'AppleGothic',sans-serif;
              }
              &.on{opacity: 1; }
              
            }
          }
          .btn_pause{
          display:block; width:20px; height:20px; position: absolute; top:18px; left:22px; cursor: pointer;
          img{
            width:20px; height:20px; display: block; z-index: 10;;
          }
          }    
        }
        
        .video_banner_btn{
          float: right;
          a{
            display: block; width:275px; height: 56px; overflow: hidden;
            position: relative;
            background: url(../img/btn-luxury-hall-info.jpg)no-repeat center;
            .ani_motion{
              position:absolute; right:0; top:0; width:83px; height:56px;
              .frame{
                width:100%; height:100%; background: url(../img/hall2.png)
              }
            }
            .ani_over{
              width:65px; height:112px;
              background: url(../img/btn-lhi-over.png)no-repeat;
              position: absolute; top:0; right:0;
            }
          }
        }
      }
    }
   
    #con2{
        width:940px;  margin: 0px auto; padding: 110px 0 80px; background: #fff; position: relative;
        .icon{
          width:380px; height:380px;  position:absolute; top:0%; left:-26%; opacity: 0.1;
          &> svg {
            transform: translate(-50%,-50%) scale(0.9) rotate(-180deg); position:absolute; top:50%; left:50%; 
            &>path {
              fill:rgba(0,0,0,0);
              stroke:#000;
              stroke-width:2;
              stroke-dasharray: 1422;
              stroke-dashoffset: 1422;
              transition:stroke-dashoffset 3s 0s, fill 3s 1s;
          }
          }
        }
        .icon2{
          width:380px; height:380px;  position:absolute; bottom:10%; right:-26%; opacity: 0.2;
          &> svg {
            transform: translate(-50%,-50%) scale(0.7); position:absolute; top:50%; left:50%; 
            &>path {
              fill:rgba(0,0,0,0);
              stroke:#000;
              stroke-width:2;
              stroke-dasharray: 1422;
              stroke-dashoffset: 1422;
              transition:stroke-dashoffset 3s 0s, fill 3s 1s;
          }
          }
        } 
        h3{
          width:940px; text-align: center;
          &::after{ content: ''; display: inline-block; width: 6px; height: 6px;margin-left: 5px; background: #f37321; border-radius: 100%;
          }
          img{
                width:304px; height:auto;
            }
        }
        .tabWrap{
          text-align: center; overflow: hidden;
          &::after{content:''; display: block; clear: both;}
          div.navi{
            width:100%; text-align: center;
            ul{
                text-align: center; display: inline-block; margin:38px 0 49px;
                &::after{content:''; display: block; clear: both;}
                li{
                    float:left;   
                    a{
                        display: block; 
                        width:220px;
                        height:30px; 
                        line-height:30px;
                        color: #000;
                        text-align: center; letter-spacing: 0.7px; transition:all 0.3s;
                        font-size:13px;
                        font-family:  'arial'; 
                        background: #fff;
                        border: 0.5px solid #000; box-sizing: border-box;
                        cursor: pointer;
                        &:first{
                          border-right:none !important;
                        }
                         
                    }
                &.on{
                 
                  a{
                   color:#fff; background:#000;
                      
                  }
              }
              &:hover{
                  
                  a{
                    color:#fff; background:#000;
                  } 
              }
                }
            }
        }//navi
        .slider{
          float:left; box-sizing:border-box; position:relative; overflow:hidden; width:380px; height:410px;
          left:0; top:0; margin-right:100px; transition: all 0.5s;
          ul{
            li{
              width:100%; height:100%; position:absolute; top:0px; left:0%; opacity:0;
               
            &.on {opacity:1;}
            &:nth-of-type(1) {background: url(../img/prada1.jpg) no-repeat center center; background-size: cover;}
            &:nth-of-type(2) {background: url(../img/pradaTab1.jpg) no-repeat center center; background-size: cover;}
            }
          }
        }//slider
        .tab{ width:460px; height:410px; float:left; box-sizing:border-box; position:relative; 
          ul{
            width:100%; height: 100%;
            li{
              width:100%; height: 100%; opacity: 0;
              position: absolute; top:0; left:0; 
              &#tabView1{
                 .con11{
                  position:absolute; transition:1s 0.2s; opacity:0;transform:translateX(800px);
                   width:220px; height:254px; 
                   top:103px; left:0px; background:url(../img/prada2.jpg) no-repeat 75% 50%; background-size: cover; margin-right:20px;  
                  }
                 .con12{
                  position:absolute; transition:1s 0.1s; opacity:0;transform:translateX(800px);
                   width:220px; height:100%; right:0; top:0;
                   .conImg{
                     width:100%; height: 195px; top:0; left:0; background:url(../img/prada3.jpg) no-repeat 50% 50%; background-size: cover; z-index: 3
                   }
                   .conTxt{
                     width:100%;  height:100%; top:195px;  
                     text-align: center; font: 13px/1.5 'arial'; 
                     padding:19px 9px; box-sizing: border-box; color:#666;
                   }
 
 
                 }
                 .con13{
                  position:absolute; transition:1s 0.3s; opacity:1;transform:translateX(800px) rotate(230deg);
                   width:180px; height:220px; position: absolute; top:32px; left:-91px;  z-index:6;
                   span{
                     display: block;
                   width:100%; height:100%; background: 
                   url(../img/prada4.png)no-repeat 50% 50%;  background-size: contain; 
                   }  
                 }
              &.on{
                opacity:1;  z-index:3;
                &>div{opacity:1; transform:translateX(0px);}
              }   
              }//#tabView1
              &#tabView2{
                
                 .con21{
                  position:absolute; transition:1s 0.2s; opacity:0;transform:translateX(800px); 
                   width:220px; height:254px; 
                   top:103px; left:0px; background:url(../img/subSm4.jpg) no-repeat 50% 50%; background-size: cover; margin-right:20px;  
                 }
                 .con22{
                  position:absolute; transition:1s 0.1s; opacity:0;transform:translateX(800px); 
                   width:220px; height:100%; right:0; top:0;
                   .conImg{
                     width:100%; height:195px ; top:0; left:0; background:url(../img/pradaTab11.jpg) no-repeat 50% 50%; background-size: cover; z-index: 3
                   }
                   .conTxt{
                     width:100%;  height:100%; top:195px;  
                     text-align: center; font: 13px/1.5 'arial'; 
                     padding:19px 9px; box-sizing: border-box; color:#666;
                   }
 
 
                 }
                 .con23{
                  position:absolute; transition:1s 0.3s; opacity:0;transform:translateX(800px) rotate(-220deg); 
                   width:235px; height:280px; position: absolute; top:-41px; left:-121px;  z-index:6;
                   span{
                     display: block;
                   width:100%; height:100%; background: 
                   url(../img/pradaTab12.png)no-repeat 50% 50%;  background-size: contain; 
                   }  
                 }
 
                 &.on{
                  opacity:1;  z-index:3;
                  &>div{opacity:1; transform:translateX(0px);}
                }   
             
              }//#tabView2
              
            }//li 
          }//ul
        }//tab

      }//tabWrap
      
    }
    #con3{
         width:100%;  padding: 50px 0 30px; 
         
        .titleBox{
          width:940px; margin: 0px auto; 
          h3{
            width:100%; 
            @include titleFont();
            &::after{ content: ''; display: inline-block; width: 6px; height: 6px;margin-left: 5px; background: #f37321; border-radius: 100%;
            }
            img{
                width:284px; height:auto;
              }
          }
          p{text-align: center; font-size: 14px; letter-spacing: -0.03px;
            line-height: 1.75; color: #666; margin:7px 0 50px;}
        }
        
        .videoSec{
          width:100%; height:346px; position: relative; color:#fff; line-height: 346px;
          &>.videoImg{
            width:100%; height:100%; overflow: hidden;
            img{
              width:100%; height:auto;
            }
          }
          .videoMovie{
            display: none; transition: all 0.5s;
            position: fixed; width:100%; height:100%; background:#000; z-index: 8; top:0; left:0;
            .Mclose{display:inline-block; position: absolute; top:-90px; right:30px;}
          }
         
          .vBtn{
            display: block;
            width:50px; height: 50px; border:1px solid #fff;
            border-radius: 25px; position: absolute;
            top:50%; margin-top:-25px; left:50%; margin-left:-25px; text-align: center;
            &:hover{
              background: rgba(255,255,255,.5);
            }
            i{
              position: absolute; top:9px; margin-left:-3px;
              font-size: 32px; text-align: center;
            }
          }

        }
        ul.iconSec{
          width:940px; margin: 100px auto 0px;
          &::after{content:''; display: block; clear: both;}
          li{
            width:25%; position: relative; float:left; box-sizing: border-box;
            &::after{ content: ""; position: absolute; top: 8px;right: 0; width: 0.5px; height: 125px; background-color: #e9e9e9;
            
            }
            &:last-child{
              
            &::after{display: none;}   
            } 
            a{ 
              display :block; width:100%; height:100%;  padding-left:-20px; transition: 0.3s; font-size: 30px; color:#161616;
              &:hover{
                  span{
                    
                  }
                
              }
              span{
                display:block; width:150px; height: 35px; 
                margin: 20px auto; text-align: center;
                
                i{display:block; font-size: 35px; color:#161616; text-align: center; } 
                
              }
              dl{
                width:100%;
                dt{
                  font-size: 14px; text-align: center; color: #222;
                }
                dd{
                  font:12px/2 "arial"; text-align: center;padding-top: 4px; color: #555;
                }
              }
            } 
          }
        }  
    }
    #con4{
        width:940px;  margin: 80px auto 0px; padding:0px 0 100px;background: #fff;
        &::after{content:""; display: block; clear: both;}
        .titleBox{
          width:940px; margin: 0px auto; 
          h3{
            width:100%; 
            @include titleFont();
            &::after{ content: ''; display: inline-block; width: 6px; height: 6px;margin-left: 5px; background: #f37321; border-radius: 100%;
            }
            img{
                  width:198px; height:auto;
              }
          }
          p{text-align: center; font-size: 14px; etter-spacing: -0.03px;
            line-height: 1.75; color: #666; margin:7px 0 50px;}
        }
        .con4Box1{
          width:460px; height:304px; background: #fff; float:right;
          border-top:2px solid #000;
          &::after{content:''; display: block; clear: both;}
          .imgBigCon{
            width:220px; margin-top:22px; margin-right:20px;height:282px; background: #000;  float:left;
            span{
              display: block; width:100%; height:100%;
              background: url(../img/subPrada1.jpg) no-repeat 50% 50%; background-size: cover;
            }
          }
          .Box1Txt{
            width:220px; height:282px; margin-top:22px; float: left; 
            dl{
              width:100%; margin-top:27px;
              
              dt{
                font-size: 15px; color: #222; font-weight:700;
              }
              dd{
                font:13px/1.2 "arial"; padding-top: 19px; color: #444; 
              }
            }
            a{
              display: block; font:13px/1.2 "arial"; padding-top: 19px; color: #444; font-weight:600; 
              i{margin-left:10px;}
            
            }
          }
        }
        .con4Box2{
          float:left; margin-right:20px; width:460px; height:281px;
          .smBox{
            width:220px; margin-right:20px; height:281px;
            float: left; background: #fff; border-top:2px solid #000;
            &:last-child{
              margin-right:0;
            }
            .imgCon{
              width:100%; height:163px; background: #000; margin-top: 22px;
              .sm1{
                display: block;
                width:100%; height: 100%; background: url(../img/subSm2.jpg) no-repeat 50% 50%; background-size: cover; 
              }
              .sm2{
                display: block;
                width:100%; height: 100%; background: url(../img/subSm1.jpg) no-repeat 50% 50%; background-size: cover; 
              }
            }
            dl{
              width:100%; margin-top:27px;
              
              dt{
                font-size: 15px; color: #222; font-weight:700;
              }
              dd{
                font:13px/1.2 "arial"; padding-top: 19px; color: #444; 
              }
            }
          }
        }
    }
   
}
#map{
    width:100%;  padding: 0px 0 95px; position: relative; 
    .titleBox{
      width:940px; margin: 0px auto; 
      h3{
        width:100%; padding:30px 0;
        @include titleFont();
        &::after{ content: ''; display: inline-block; width: 6px; height: 6px;margin-left: 5px; background: #f37321; border-radius: 100%;
        }
        img{
              width:204px; height:auto;
          }
      }
    }
    .tabN.tabN{
      width:940px; margin:0 auto; position: relative;
      text-align: left;
      &::after{content:''; display: block; clear: both;}
      li{
        position: relative; display: inline-block;text-align: center;color: #333;
       font-size: 12px; font-family: 'arial','Nanum Gothic','dotum','AppleSDGothic', 'AppleGothic',sans-serif; margin-right:8px; font-weight: 700;
       padding:5px 8px; background: #161616;
       border:1px solid #161616; transition: 0.5s;
       &:hover{
       background: #fff;
       a{
         color:#161616;
       }

       }
        a{
          color: #fff;
          
        }
      }
    }
   
    .mapBox{
      width:940px; height:238px; position: absolute; left:50%; top:50%; margin-left:-470px; margin-top:20px;
      border:1px solid #ccc;
      background:#000;
      filter: grayscale(1); transition: 0.5s;
      
      &:hover{filter: grayscale(0); }
    
    }
}

#instaBox{
  width:100%; position: relative;
  overflow: hidden; height:150px; margin-top:260px;
  ul{
    width:2500px; height:150px; overflow: hidden; 
    position: absolute; left:0; top:0; 
    &::after{content:''; display: block; clear: both;}
    li{
      float:left; width:150px; height:150px; background: #363636; 
      &:nth-child(odd){
        background: #222;
      }
      a{
        display: block; width:100%; height:100%;
        img{
          
        }
        p{
          color:#fff;
        }
        
      }
    }
  }
}

/*tablet*/
@include rwd(960px){
    
    .contents {   
        .con1Wrap{
          .conWbg1{width:0% !important;}
            #con1 {
            width:100%;   
            h2{
            display:none;
            }
            .noticeBox{
            
            ul.notice_list{
                width:400px;  margin-left:60px;
                
            }     
            }
        }
        }
    
        #con2{
            width:100%;  padding: 100px 0 80px; background: #fff;
            .icon{
              display: none;
            }
            .icon2{
              display: none;
            } 
            h3{
            width:100%; text-align: center;
            &::after{ content: ''; display: inline-block; width: 6px; height: 6px; margin-left: 5px; background: #f37321; border-radius: 100%;
            }
            img{
                    width:364px; height:auto;
                }
            }
            .tabWrap{
              width: 100%;
              div.navi{
                width:100%; text-align: center;
                ul{
                    text-align: center; display: inline-block; margin:38px 0 49px;
                    &::after{content:''; display: block; clear: both;}
                    li{
                        float:left;   
                        a{
                            display: block; 
                            width:220px;
                            height:30px; 
                            line-height:30px;
                            color: #000;
                            text-align: center; letter-spacing: 0.7px;transition:all 0.3s;
                            font-size:13px;
                            font-family:  'arial'; 
                            background: #fff;
                            border: 0.5px solid #000; box-sizing: border-box;
                            cursor: pointer;
                            &:first{
                              border-right:none !important;
                            }
                             
                        }
                    &.on{
                     
                      a{
                        color:#fff; background: #000;
                          
                      }
                  }
                  &:hover{
                      
                      a{
                        color:#fff; background: #000;
                      } 
                  }
                    }
                }
            }//navi
            .slider{
             width:38%; height:380px;  margin:0% 9% 0% 1%;
             
            }
            .tab{ 
              width:51%; height:380px; float:left; box-sizing:border-box; margin-right:1%;
              position:relative; 
              ul{
                width:100%; height: 100%;
                li{
                  width:100%; height: 100%; opacity: 0;
                  position: absolute; top:0; left:0; 
                  &#tabView1{
                     .con11{
                      position:absolute; transition:1s 0.2s; opacity:0;transform:translateX(800px);
                        background:url(../img/prada2.jpg) no-repeat 75% 50%; background-size: cover; 
                       width:49%; height:234px; 
                       top:103px; left:0px;  margin-right:2%;  

                      }
                     .con12{
                      position:absolute; transition:1s 0.1s; opacity:0;transform:translateX(800px);
                       width:49%; height:100%; right:0; top:0;
                       .conImg{
                         width:100%; background:url(../img/prada3.jpg) no-repeat 50% 50%; 
                         background-size: cover; z-index: 3;
                         height: 185px; top:0; left:0; 
                       }
                       .conTxt{
                         width:100%;  height:100%; 
                         text-align: center;
                         box-sizing: border-box; color:#666;
                         top:185px;  
                        font: 13px/1.5 'arial'; 
                        padding:19px 9px;
                       }
     
     
                     }
                     .con13{
                      position:absolute; transition:1s 0.3s; opacity:1;transform:translateX(800px) rotate(230deg);
                       position: absolute;  z-index:6;
                       width:25%; height:190px; top:32px; left:-71px;
                       span{
                         display: block;
                       width:100%; height:100%; background: 
                       url(../img/prada4.png)no-repeat 50% 50%;  background-size: contain; 
                       }  
                     }
                  &.on{
                    opacity:1;  z-index:3;
                    &>div{opacity:1; transform:translateX(0px);}
                    }   
                  }//#tabView1
                  &#tabView2{
                    
                     .con21{
                      position:absolute; transition:1s 0.2s; opacity:0;transform:translateX(800px); 
                       
                        background:url(../img/subSm4.jpg) no-repeat 50% 50%; background-size: cover; 
                       width:49%; height:234px; 
                       top:103px; left:0px;  margin-right:2%;   
                     }
                     .con22{
                      position:absolute; transition:1s 0.1s; opacity:0;transform:translateX(800px); 
                       width:49%; height:100%; right:0; top:0;
                       .conImg{
                         width:100%; background:url(../img/pradaTab11.jpg) no-repeat 50% 50%; background-size: cover; z-index: 3; height: 185px; top:0; left:0;
                       }
                       .conTxt{
                        width:100%;  height:100%; 
                        text-align: center;
                        box-sizing: border-box; color:#666;
                        top:185px; font: 13px/1.5 'arial'; 
                       padding:19px 9px;
                       }
     
     
                     }
                     .con23{
                      position:absolute; transition:1s 0.3s; opacity:0;transform:translateX(800px) rotate(-220deg); 
                        position: absolute; top:-18px; left:-144px;  z-index:6;
                       width:68%; height:210px; 
                       span{
                         display: block;
                       width:100%; height:100%; background: 
                       url(../img/pradaTab12.png)no-repeat 50% 50%;  background-size: contain; 
                       }  
                     }
     
                     &.on{
                      opacity:1;  z-index:3;
                      &>div{opacity:1; transform:translateX(0px);}
                    }   
                 
                  }//#tabView2
                  
                }//li 
              }//ul
            }//tab
            
           
    
          }//tabWrap
        
        }//#con2

        #con3{
            padding: 0px 0 30px; 
            
            .titleBox{
            width:100%;
            h3{
                width:100%;
                img{
                    width:364px; 
                }
            }
            }
            
            .videoSec{
            height:326px; line-height: 326px;
            }
            ul.iconSec{
            width:96%; padding: 0% 2%; margin: 75px auto 0px;
            
            li{
                width:26%; 
                
                &:last-child{
                width:22%;
                
                } 
                a{ 
                width:92%; height:100%;  padding:3%; box-sizing: border-box;
                span{
                    width:90%; height: 100px;
                    
                }
                dl{

                    dd{
                    display: none;
                    }
                }
                } 
            }
            }  
        }
        #con4{
            width:96%;padding:2% 0 100px;
            .titleBox{
            width:100%; 
            h3{
                width:100%; 
                
                img{
                    width:190px; height:auto;
                }
            }
            }
            .con4Box1{
            width:49%; height:275px; 
            
            
            .imgBigCon{
                width:49%; margin-right:2%;height:262px; 
            }
            .Box1Txt{
                width:49%; height:275px;  
                img{width:90%;}
                dl{
                width:100%; margin-top:27px;
                
                dt{
                    
                }
                dd{
                    padding-top: 19px; 
                }
                }
                a{ padding-top: 18px; }
            }
            }
            .con4Box2{
            float:left; margin-right:2%; width:49%; height:261px;
            .smBox{
                width:49%; margin-right:2%; height:280px;
                float: left; 
                
                .imgCon{
                width:100%; height:160px; background: #000; margin-top: 22px;
                }
                dl{
                margin-top:25px;
                
                dd{
                    font:13px/1.2 "arial"; padding-top: 17px;  
                }
                }
            }
            }
        }
    
    }
    #map{
      padding: 20px 0 55px;
      .titleBox{
        width:100%;
        h3{
          width:100%; padding:20px 0;
         
          img{
                width:190px; 
            }
        }
      }
      .mapBox{
        width:100%; height:218px; 
      
      }
    }
    
#instaBox{
  width:100%; position: relative; overflow: hidden; height:120px;
  ul{
    width:500%;
    &::after{content:''; display: block; clear: both;}
    li{
      float:left;
      width:120px; height:120px; background: #363636;
      &:nth-child(odd){
        background: #222;
      }
      a{
        display: block; width:100%; height:100%;
        
      }
    }
  }
}
} //tabletRwd

/*mobile*/
@include rwd(740px){
    
    .contents {   
        .con1Wrap{
            #con1 {
            width:100%;   
            
            .noticeBox{
            width:100%; 
            ul.notice_list{
                width:86%;  margin-left:12%; height:48px;
                li{
                line-height: 48px;height: 48px;
                top: -48px; 
                
                a{
                    font-size: 11px;
                    
                }
                }
                
            } 
            .btn_pause{
                width:18px; height:18px;  left:6px; 
                img{
                width:18px; height:18px; 
                }
                }    
            }
            .video_banner_btn{
            display: none;
            }
        }
        }
    
        #con2{
            padding: 60px 0 30px;
            h3{
            
            img{
                    width:70%; 
                }
            }
            .tabWrap{
              width: 100%;
              div.navi{
                width:100%; text-align: center;
                ul{
                    text-align: center;  margin:25px 0 0px 0px; width: 100%;
                    &::after{content:''; display: block; clear: both;}
                    &>li{
                        float:left;  width:50%; margin: 0; padding:0;
                        a{
                            display: block; 
                            width:100%;
                            height:30px; 
                            line-height:30px;
                            color: #000;
                            text-align: center; letter-spacing: 0.7px;transition:all 0.3s;
                            font-size:13px;
                            font-family:  'arial'; 
                            background: #fff;
                            border: 0.5px solid #000; box-sizing: border-box;
                            cursor: pointer;
                            border-right:none; border-left:none;
                            &:first{
                              border-right:none !important;
                              box-sizing: border-box;
                             
                            }
                             
                        }
                    &.on{
                      width:50%;
                      a{
                        width:100%;
                        
                          
                      }
                  }
                  &:hover{
                    width:50%;
                      a{
                        width:100%;
                        
                      } 
                  }
                    }
                }
            }//navi
            .slider{
             width:100%; height:190px;  margin:0% 0% 0% 0%; float:none; 
             ul{
               li{
                background-position:  50% 20% !important;
               }
             }
             
            }
            .tab{ 
              width:100%; height:190px; float:none; box-sizing:border-box; margin-right:0%;
              position:relative; 
              ul{
                width:100%; height: 100%;
                li{
                  width:100%; height: 100%; opacity: 0;
                  position: absolute; top:0; left:0; 
                  &#tabView1{
                     .con11{
                       display: none;
                      }
                     .con12{
                      position:absolute; transition:1s 0.1s; opacity:1;transform:translateX(800px);
                       width:100%; height:185px; right:0; top:0; left:0;
                       .conImg{
                         position: absolute;
                         width:50%; height: 100%; top:0; left:0;  background:url(../img/prada3.jpg) no-repeat 50% 50%; 
                         background-size: cover; z-index: 3;
                         
                       }
                       .conTxt{
                         width:50%;  height:100%; top:0px; margin-left:50%;  
                         text-align: center;
                         box-sizing: border-box; color:#666;
                        font: 13px/1.5 'arial'; 
                        padding:19px 9px; border: 1px solid #f1f1f1;
                       }
     
     
                     }
                     .con13{
                       display: none;
                    
                     }
                  &.on{
                    opacity:1;  z-index:3;
                    &>div{opacity:1; transform:translateX(0px);}
                    }   
                  }//#tabView1
                  &#tabView2{
                    
                    .con21{
                      display: none;
                     }
                    .con22{
                     position:absolute; transition:1s 0.1s; opacity:1;transform:translateX(800px);
                      width:100%; height:185px; right:0; top:0; left:0;
                      .conImg{
                        position: absolute;
                        width:50%; height: 100%; top:0; left:0;  background:url(../img/pradaTab11.jpg) no-repeat 50% 50%; 
                        background-size: cover; z-index: 3;
                        
                      }
                      .conTxt{
                        width:50%;  height:100%; top:0px; margin-left:50%;  
                        text-align: center;
                        box-sizing: border-box; color:#666;
                       font: 13px/1.5 'arial'; 
                       padding:19px 9px; border: 1px solid #f1f1f1;
                      }
    
    
                    }
                    .con23{
                      display: none;
                   
                    }
     
                     &.on{
                      opacity:1;  z-index:3;
                      &>div{opacity:1; transform:translateX(0px);}
                    }   
                 
                  }//#tabView2
                  
                }//li 
              }//ul
            }//tab
           
    
          }//tabWrap
           
          //delete
            .tabWrap{
            ul.list{
                margin: 18px auto 27px; 
                
                li{
                
                &::after{content: ''; margin: 0 10px;}
                
                a{
                    font-size: 11px;  
                } 
                }
            }
            .tabBox{
                width:100%; 
                div.tabCon{
                width: 100%; height:350px; padding:0% 2%; 
                & > div{width:100%;}
                .conBox1{
                    width:100%; height:175px;
                    margin-right:0%;
                }
                .conBox2{
                    width:49%; height:175px;float:left; left:0px;
                    margin-top:0px;  background: rgb(219, 4, 4); margin-right:2%;
                }
                .conBox3{
                    display: none;
                    
                    
                }
                .conBox4{
                    width:49%; height:175px; float:right; right:0; bottom:0px;
                    .ctxt{
                    width:100%; padding:15px 10px; box-sizing: border-box;
                    font: 13px/1.2 "arial"; color:#666; text-align: left;
                }

                }
            }
            }
        }  
        }
        #con3{
            padding: 0px; 
            
            .titleBox{
            width:100%;
            h3{
                width:100%;
                img{
                    width:80%; 
                }
            }
            p{font-size: 11px; margin:5px 0 30px; }
            }
            
            .videoSec{
            height:206px; line-height: 206px;
            }
            ul.iconSec{
            width:100%; padding: 0% 0%; margin: 37px auto 0px;
            
            li{
                width:25%;
                &::after{ display: none;
                
                } 
                
                &:last-child{
                width:25%; margin: 0;
                a{margin:0 !important;}
                
                } 
                a{ 
                width:100%; height:100%;  padding:0%; box-sizing: border-box;
                span{
                    width:100%; height: 100px;
                }
                dl{
                    dt{font-size: 11px;}
                    dd{
                    display: none;
                    }
                }
                } 
            }
            }  
        }
        #con4{
            padding:0% 0 80px;
            .titleBox{
            
            h3{
                
                
                img{
                    width:46%;
                }
            }
            p{font-size: 11px; margin:5px 0 30px; }
            }
            .con4Box1{
            width:100%; height:255px; margin-right:0%;
            padding-bottom:45px;
            
            .imgBigCon{
                width:49%; margin-right:2%;height:218px; 
            }
            .Box1Txt{
                width:49%; height:255px;  
                img{width:80%;}
                dl{
                width:100%; margin-top:15px;
                
                dt{
                    
                }
                dd{
                    padding-top: 13px; font-size: 12px;
                }
                }
                a{ padding-top: 13px; }
            }
            }
            .con4Box2{
            float:none; margin-right:0%; width:100%; height:255px;
            
            .smBox{
                width:49%; margin-right:2%; height:255px;
                float: left; 
                
                .imgCon{
                width:100%; height:150px; background: #000; margin-top: 22px;
                }
                dl{
                margin-top:18px;
                
                dd{
                    font:12px/1.2 "arial"; padding-top: 12px;  
                }
                }
            }
            }
        }
    
    }
    #map{
      padding: 20px 0 55px;
      .titleBox{
        width:100%;
        h3{
          width:100%; padding:20px 0;
         
          img{
              width:46%;
            }
        }
      }
      .mapBox{
        width:100%; height:188px; 
      
      }
    }  
}